header{
  display: flex;
  position: fixed;
  font-family: verdana;
  font-size: 14px;
  width: 100%;
  height:80px;
  z-index: 1;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: white;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span{
  color: mediumaquamarine;
}

.nav {
  padding-right: 40px;
}

.nav span {
  display: inline-block;
  padding: 20px 10px;
}

.nav a{
  color: black;

  text-decoration: none;
}

/*Body Section*/
.content{
  display: flex;
  width: 1232px;
  margin: auto 78px auto;
  padding-top: 116px;
  }

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;

}

.column.medium {
  width: 300px;

}

.column.small {
  width: 240px;

}

div{
  border: 1px solid black;
}

.content div{
  border: 1px solid black;
}

.lead-story .image-content{
  background-image: url(../images/img-story-main.png);
  width: 630px;
  margin-top: 0px;
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content{
  background-image: url(../images/img-story-2.png);

}
.cat-ceo.image-content{
  background-image: url(../images/img-story-1.png);
}

.image-content{
   color: white;
   font-weight: bold;
   text-align: center;
   font-weight: bold;
   height: 300px;
   font-family: georgia;
   margin-top: 15px;
}
